<div class="share">
    <p>Escrito:
        <i>
            {{ page.date |  date: "%A %-d %B %Y" }}
        </i>
    </p>
    <p>
        <div class="addthis_sharing_toolbox"></div>
    </p>
    <ul>
        <li>Quizás también te interese:</li>
        <ul>
        {% for post in site.related_posts limit:3 %}
            <li>
                <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </ul>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56530b0f6f62339d"></script>

{% if page.comments %}
<div class="comments">
    <div id="disqus_thread"></div>
</div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
